.recipeTile {
  display: inline-flexbox;
  flex-direction: row;
  justify-content: left;
  align-items: normal;
  cursor: pointer;
  color: aliceblue;
  margin: 30px; /* Add some margin around each tile */
  width: 500px; /* Set a fixed width for each tile */
  padding: 30px; /* Add padding to separate the content */
  border: 1px solid #ccc; /* Add a border for each tile */
  border-radius: 4px;
  background-color: #f9f9f9; /* Add a background color to each tile */
  text-align: inherit; /* Center-align the content */
}



.recipeTile__link {
  text-decoration: none; /* Remove the default underline */
  color: #0077cc; /* Change the link text color */
  font-weight: bold; /* Make the link text bold */
  transition: color 0.3s; /* Add a smooth color transition on hover */
  font-size: 25px;
  
  border-bottom: 1px solid #0077cc;

  
  &:hover {
    color: #005599;
  }
}


